<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trải nghiệm Tết Việt tại “Ngày tìm hiểu Việt Nam 2024”</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">
        <p class="italic">Sáng ngày 3/2, Chương trình “Ngày tìm hiểu Việt Nam” được tổ chức tại đường hoa “Home Hanoi
            Xuân”, khu đô thị Mailand
            Hanoi City, Hoài Đức, Hà Nội. Tại đây, các đại biểu quốc tế có dịp trải nghiệm không gian đặc sắc văn hóa
            Tết Việt.</p>
        <p>Chương trình <i>“Ngày tìm hiểu Việt Nam 2024”</i> diễn ra vào buổi sáng ngày 3/2, thu hút sự
            tham gia của gần
            100 đại biểu là
            các Đại sứ/ Trưởng đại diện và thành viên từ ngoại giao đoàn, các tổ chức quốc tế tại Việt Nam. Chương trình
            <i>“Ngày tìm
                hiểu Việt Nam 2024”</i> được Bộ Ngoại giao chủ trì tổ chức tại đường hoa “Home Hanoi Xuân” – một không
            gian quảng bá Tết
            Việt do UBND Thành phố Hà Nội thực hiện.
        </p>
        <div class="flex flex-col gap-2 justify-center items-center max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/default.png" alt="">
            <div class="italic mx-auto text-sm text-center">
                Đại sứ và thành viên ngoại giao đoàn trong chương trình “Ngày tìm hiểu về Việt Nam 2024”.
                Ảnh: Quang Anh
            </div>
        </div>
        <p> Trong chương trình, đại biểu quốc tế được cập nhật về đường lối đối ngoại, mong muốn và biện
            pháp thúc đẩy hợp tác vì
            hòa bình, ổn định và thịnh vượng; các thông tin về tình hình phát triển và những thành tựu kinh tế – xã hội
            nổi bật của
            Việt Nam. Các diễn giả đã cung cấp nhiều thông tin quan trọng, hữu ích cho thành viên của các ngoại giao
            đoàn và tổ chức
            quốc tế.</p>
        <div class="flex flex-col gap-2 justify-center items-center max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/default.png" alt="">
            <div class="italic mx-auto text-sm text-center">
                Đại biểu tham quan, thưởng lãm đường Hoa Home Hanoi Xuan 2024. Ảnh: Quang Anh
            </div>
        </div>
        <p>
            Đây cũng là dịp để đại biểu quốc tế thả mình vào không gian đường hoa “Home Hanoi Xuan 2024” rực rỡ màu sắc
            với đa dạng
            các loài hoa từ nhiều vùng, miền của đất nước. Tại đây, đại biểu được trải nghiệm một số hoạt động văn hóa,
            làng nghề
            truyền thống như giã bánh dầy hay viết điều ước treo lên cây Nêu ngày Tết. Chương trình còn mang đến nhiều
            tiết mục biểu
            diễn nghệ thuật truyền thống, phần nào giới thiệu được nền văn hóa giàu bản sắc của người Việt Nam tới bạn
            bè quốc tế.
        </p>
        <p>
            Phát biểu trong lễ khai mạc, Thứ trưởng Bộ Ngoại giao Hà Kim Ngọc chia sẻ về ý nghĩa của Chương trình: “Mỗi
            chúng ta đều
            là một sứ giả, mang trong mình văn hóa truyền thống của dân tộc khi giao lưu với các dân tộc khác. Mỗi thành
            viên của cơ
            quan đại diện đều mang trên vai những trọng trách, sự mệnh vì hòa bình, hợp tác và phát triển. Do đó, Việt
            Nam luôn coi
            thành công của mỗi nhà ngoại giao tại Việt Nam chính là sự đóng góp thực tế vào sự phát triển tốt đẹp của
            quan hệ với
            quốc gia/ tổ chức mà nhà ngoại giao đó đang đại diện tại đất nước của chúng tôi”.
        </p>
        <div class="flex flex-col gap-2 justify-center items-center max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/default.png" alt="">
            <div class="italic mx-auto text-sm text-center">
                Thứ trưởng Bộ Ngoại Giao Hà Kim Ngọc phát biểu tại lễ khai mạc. Ảnh: Quang Anh
            </div>
        </div>
        <p>
            “Ngày tìm hiểu Việt Nam” là một sự kiện thường niên được Bộ Ngoại giao Việt Nam tổ chức từ năm 2015, nhằm
            cập nhật đường
            lối, chính sách đối ngoại và thành tựu kinh tế – xã hội của đất nước, đồng thời quảng bá văn hóa Việt Nam
            tới ngoại giao
            đoàn và các tổ chức quốc tế tại Việt Nam.
        </p>
        <p>Trong tiết trời se lạnh, mưa nhẹ bay, chồi xanh và hoa xuân rực rỡ; với tâm thế hân hoan, hứng khởi của lòng
            người khi
            Tết đến Xuân về, “Ngày tìm hiểu Việt Nam 2024” đã để lại ấn tượng sâu sắc, đậm chất văn hoá trong lòng các
            Đại sứ, đại
            biểu và bạn bè quốc tế.</p>
    </div>
</body>

</html>