<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Viet Nam Day in Japan 2023" Celebrates a Half-Century Friendship</title>
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">

        <b>"Viet Nam Day in Japan 2023" Celebrates a Half-Century Friendship</b>
        <i>Scheduled for November 30th in Fukuoka City, "Viet Nam Day in Japan 2023" will feature a variety of
            innovative and
            creative content, to commemorate the friendship between the two nations and peoples .</i>
        <p>HANOI, Vietnam, Nov. 29, 2023 /PRNewswire/ -- "Viet Nam Day in Japan 2023" will be held at Kyushu University
            of
            Medicine, Fukuoka City on November 30th. This event is organized by Viet Nam's Ministry of Foreign Affairs
            to celebrate
            the 50th anniversary of diplomatic relations between Viet Nam and Japan (1973-2023).</p>
        <img class="w-full" src="/images/Nhat_A.jpg" alt="">
        <p>The highlight of the event is an art performance titled "Beauty of Viet Nam", which showcases many Vietnamese
            cultural
            art forms such as Hue folk songs, Cham dances, Vi-Giam folk songs and a show of traditional ao dai. To
            commemorate the
            close friendship between Viet Nam and Japan, the art program also portraits famous historical stories such
            as the love
            tale of Princess Ngoc Hoa and businessman Araki Sorato, or the beautiful friendship between patriotic
            intellectual Phan
            Boi Chau and doctor Asaba Sakitaro. These exquisite and professional art performances will bear a lasting
            impression on
            the audience, successfully promoting Vietnamese culture, country, and people.</p>
        <p>The Cultural Space is a crucial activity within the framework of "Viet Nam Day in Japan 2023". Visitors will
            have the
            chance to learn about the Viet Nam - Japan relationship through a photo exhibition of 50 years of diplomatic
            relations
            between the two countries. This space is also rich in cultural identity, offering many cultural experiences
            such as
            Vietnamese tea performances, making engraved lacquer paintings, trying on Nguyen Dynasty costumes, making To
            he, etc.
            Among them, the Vietnamese tea experience is a creative highlight, expressing the desire for cultural
            exchange with
            Japan - a place famous for its traditional green tea products.</p>
        <p>Representing the Organizing Committee, Mr. Hoang Huu Anh, Deputy Director of the Department of Cultural
            Diplomacy and
            UNESCO under the Ministry of Foreign Affairs, shared: "Viet Nam and Japan have established a long-lasting
            comprehensive
            partnership in many fields. Both countries have long-standing, diverse, and unique cultures. Currently,
            there are half
            of a million Vietnamese people living and working in Japan, ranking second among foreign communities in
            Japan.
            Therefore, the Organizing Committee has put a lot of effort into organizing 'Viet Nam Day in Japan 2023'
            program, to
            commemorate the friendship and strong cooperation between the two countries, while introducing the rich yet
            modern image
            of Viet Nam to the public in Japan."</p>
        <p>Following South Africa and France, Japan is the final destination of the "Viet Nam Days Abroad" series of
            events in
            2023. This is also the second time the program has been held in Japan (The first time was in 2013).</p>
        <p>"Viet Nam Days Abroad" is an annual national promotional program assigned by the Prime Minister to the
            Ministry of
            Foreign Affairs to organize since 2010. The program takes place on the occasion of official visits of
            high-level
            Vietnamese leaders to partner countries and always receives widespread participation and response from
            localities,
            businesses, agencies, organizations, international friends, and Vietnamese communities abroad.</p>
        <p>SOURCE Ministry of Foreign Affairs</p>
    </div>

    </div>
</body>

</html>