<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Người dân Nhật ấn tượng với “Ngày Việt Nam tại Nhật Bản 2023”</title>
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">
        <p>Không gian văn hóa đậm đà bản sắc và chương trình biểu diễn nghệ thuật độc đáo của “Ngày Việt Nam tại Nhật
            Bản 2023” đã
            để lại nhiều ấn tượng khó phai trong lòng công chúng sở tại.</p>
        <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
                <img src="/images/image_c0870.png" alt="">
            </div>
            <div class="text-sm italic text-center">“Ngày Việt Nam ở nước ngoài 2023” diễn ra ngày 30/11 tại Fukuoka,
                vinh dự chào đón nhiều lãnh đạo các cơ
                quan, bộ, ngành
                và đại diện các doanh nghiệp, đông đảo người dân hai nước. Ảnh: Bộ Ngoại giao Việt Nam.</div>
        </div>
        <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
                <img src="/images/2023_12_03_10_54_361_4aced.jpg" alt="">
            </div>
            <div class="text-sm italic text-center">Chương trình thu hút đông đảo người dân Nhật Bản và người Việt Nam ở
                sở tại đến tham gia các hoạt động trải
                nghiệm văn
                hóa đặc sắc. Ảnh: Bộ Ngoại giao Việt Nam.</div>
        </div>
        <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
                <img src="/images/2023_12_03_10_54_362_77979.jpg" alt="">
            </div>
            <div class="text-sm italic text-center">Khách tham quan vô cùng thích thú khi được tự tay nặn những chiếc tò he của riêng mình. Ảnh: Bộ Ngoại
                giao
                Việt Nam.</div>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/2023_12_03_10_54_363_b731d.jpg" alt="">
        </div>
        <div class="text-sm italic text-center">Các cô gái Nhật Bản vui vẻ khoác lên mình những bộ cổ phục thêu tay rực rỡ, tái hiện trang phục của vua chúa
            và quan lại
            thời Nguyễn. Ảnh: Bộ Ngoại giao Việt Nam.
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/2023_12_03_10_54_364_0559c.jpg" alt="">
        </div>
        <div class="text-sm italic text-center">Vũ Mai Linh (22 tuổi), sinh viên Trường Đại học Nữ sinh Fukuoka, vô cùng ấn tượng với không gian văn hóa, với
            những
            chiếc nón lá, mành tre, tranh Đông Hồ hay bộ bàn ghế gỗ mộc mạc. “Phải rất lâu rồi, em mới được cảm nhận
            không khí Việt
            Nam như này. Em thích nhất góc giới thiệu Phở Thìn đúng chất Hà Nội, vừa gần gũi vừa rất thân thương”, bạn
            Linh xúc động
            cho biết. Ảnh: Bộ Ngoại giao Việt Nam.</div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/2023_12_03_10_54_365_0701d.jpg" alt="">
        </div>
        <div class="text-sm italic text-center">Anh Haruka Suzuki, một người Nhật Bản từng hai lần đến Việt Nam, bồi hồi cảm xúc khi ngắm nhìn triển lãm ảnh
            50 năm quan
            hệ ngoại giao giữa hai nước. “Khi tới đây, tôi lại thêm yêu mảnh đất hình chữ S này”, anh Haruka Suzuki chia
            sẻ. Ảnh: Bộ
            Ngoại giao Việt Nam.</div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/2023_12_03_10_54_366_e49d4.jpg" alt="">
        </div>
        <div class="text-sm italic text-center">Các trải nghiệm văn hóa có trong “Ngày Việt Nam tại Nhật Bản 2023” thu hút sự tham gia của đông đảo công
            chúng sở tại.
            Ảnh: Bộ Ngoại giao Việt Nam.</div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/2023_12_03_10_54_367_f47cc.jpg" alt="">
        </div>
        <div class="text-sm italic text-center">Nhiều vị khách Nhật vô cùng bất ngờ với cách người Việt pha trà và thưởng trà. “Vị trà của hai nước có sự
            khác biệt
            nhưng đều rất ngon”, một vị khách bày tỏ. Ảnh: Bộ Ngoại giao Việt Nam.</div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/2023_12_03_10_54_368_aaf47.jpg" alt="">
        </div>
        <div class="text-sm italic text-center">Chương trình cũng mang đến nhiều tiết mục biểu diễn nghệ thuật độc đáo từ ca, múa, nhạc, kịch đến trình diễn
            thời trang.
            Ảnh: Bộ Ngoại giao Việt Nam.</div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/2023_12_03_10_54_369_8f0c3.jpg" alt="">
        </div>
        <div class="text-sm italic text-center">Bà Watanabe Aya, Trưởng Ban quốc tế tỉnh Fukuoka chia sẻ cảm nghĩ: “Chương trình thực sự ấn tượng với nhiều
            loại nhạc cụ
            và tiết mục âm nhạc đặc sắc. Đây cũng là cơ hội để chúng tôi biết thêm nhiều nét văn hóa truyền thống như:
            Sơn mài khắc,
            Tò he, tranh Đông Hồ”. Ảnh: Bộ Ngoại giao Việt Nam.</div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/2023_12_03_10_54_3610_f2b00.jpg" alt="">
        </div>
        <div class="text-sm italic text-center">“Ngày Việt Nam tại Nhật Bản 2023” góp phần quảng bá hình ảnh, đất nước, con người Việt Nam, đồng thời thắt
            chặt mối quan
            hệ giữa hai quốc gia, hai dân tộc. Ảnh: Bộ Ngoại giao Việt Nam.</div>
    </div>
    </div>
</body>

</html>