<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>“NGÀY VIỆT NAM Ở NƯỚC NGOÀI 2023”: LAN TỎA VĂN HÓA VIỆT TRÊN QUY MÔ TOÀN CẦU</title>
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">
        <p>Năm 2023, chuỗi sự kiện “Ngày Việt Nam ở nước ngoài” đã diễn ra thành công tại Nam Phi, Pháp và Nhật Bản, để
            lại nhiều
            ấn tượng khó phai trong lòng công chúng sở tại. Chương trình góp phần quảng bá hình ảnh, đất nước và con
            người Việt Nam
            tới bạn bè quốc tế, đồng thời thắt chặt mối quan hệ hữu nghị, hợp tác giữa các quốc gia.</p>
        <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/2.png" alt="">
            <div class="italic mx-auto text-sm text-center">

            </div>
        </div>
        <p>“Ngày Việt Nam ở nước ngoài” là chương trình quảng bá quốc gia thường niên được Thủ tướng Chính phủ giao Bộ
            Ngoại giao
            chủ trì tổ chức từ năm 2010. Sau 13 năm triển khai, thương hiệu sự kiện này đã đặt chân đến 18 quốc gia,
            mang theo nhiều
            hoạt động giao lưu, kết nối ở cả ba lĩnh vực chính trị, kinh tế và văn hóa. Chương trình luôn nhận được sự
            quan tâm, ủng
            hộ của các cơ quan, tổ chức, bạn bè quốc tế và cộng đồng người Việt Nam ở nước ngoài.</p>
        <p>Trong năm 2023, “Ngày Việt Nam ở nước ngoài” được tổ chức lần lượt tại Nam Phi, Pháp và Nhật Bản, nhân dịp kỷ
            niệm 30
            năm quan hệ ngoại giao Việt Nam – Nam Phi và 50 năm quan hệ ngoại giao giữa Việt Nam với Pháp, Nhật Bản. Đặc
            biệt,
            chương trình năm nay vinh dự chào đón Phó Chủ tịch nước CHXHCN Việt Nam Võ Thị Ánh Xuân và đoàn đại biểu cấp
            cao nhân
            dịp chuyến thăm chính thức tới nước Cộng hòa Nam Phi (tháng 9/2023).</p>
        <p>Đại diện Ban tổ chức Chương trình, ông Hoàng Hữu Anh – Phó Vụ trưởng Vụ Ngoại giao Văn hóa và UNESCO, nhận
            định Nam Phi,
            Pháp và Nhật Bản đều là những nước đối tác quan trọng với Việt Nam, là những nền văn hóa đậm đà bản sắc ở 3
            châu lục
            khác nhau. Do đó, chương trình năm nay cần nghiên cứu kỹ lưỡng và có những điều chỉnh phù hợp ở từng địa
            bàn, đảm bảo
            truyền tải được hình ảnh, đất nước và con người Việt Nam giàu truyền thống mà vẫn năng động, hiện đại; đồng
            thời thắt
            chặt quan hệ hữu nghị, hợp tác giữa các quốc gia, các dân tộc.</p>
        <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/quote-tren-ong-ha.png" alt="">
            <div class="italic mx-auto text-sm text-center">

            </div>
        </div>
        <p>Nam Phi là điểm đến đầu tiên và cũng là điểm đến xa nhất của chuỗi sự kiện “Ngày Việt Nam ở nước ngoài” trong
            năm 2023.
            Tại đây, cộng đồng người Việt thu nhỏ dần sau đại dịch Covid-19 và chỉ còn khoảng 200 thành viên. Có lẽ vì
            vậy mà sự
            liên kết và giao lưu văn hóa giữa cộng đồng này với người dân sở tại còn có những hạn chế nhất định. Như
            hiểu được điều
            đó, chương trình “Ngày Việt Nam tại Nam Phi” đã được tổ chức hồi tháng 9 tại thủ đô Pretoria, thu hút sự
            quan tâm của
            đông đảo bạn bè quốc tế, qua đó quảng bá thành công hình ảnh, đất nước và con người Việt Nam tại Nam Phi nói
            riêng và
            châu Phi nói chung.</p>
        <p>Một trong những hoạt động “hút khách” của “Ngày Việt Nam tại Nam Phi 2023” là Không gian Văn hóa Việt Nam đậm
            đà bản sắc
            dân tộc, với khu vực trưng bày và mặc thử cổ phục triều Nguyễn. Cô gái Nam Phi Beryl Maharage say sưa tìm
            hiểu những họa
            tiết thêu tay tinh xảo và chia sẻ: “Tôi cảm thấy rất ấn tượng khi biết những bộ trang phục này đều phản ánh
            các giai
            đoạn lịch sử của Việt Nam. Trải nghiệm này làm tôi mong muốn được tới Việt Nam trong chuyến du lịch tiếp
            theo của mình”.
        </p>
        <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/14.png" alt="">
            <div class="italic mx-auto text-sm text-center">

            </div>
        </div>
        <p>Trong chương trình ở Paris, nhiều nội dung đã được lựa chọn để làm nổi bật sự gắn kết giữa Việt Nam và Pháp
            trong nửa
            thế kỷ qua. Họa sĩ Lương Minh Hòa mang đến bộ sưu tập sơn mài khắc với chủ đề “Các công trình kiến trúc Pháp
            ở Việt
            Nam”, nhận về sự quan tâm của đông đảo khách tham dự. Bộ ảnh “Việt Nam Tôi Yêu” của bà Armelle DG – Phu nhân
            Nguyên Đại
            sứ Pháp tại Việt Nam cũng là minh chứng sinh động cho tình cảm gắn bó của một người Pháp với đất nước và con
            người Việt
            Nam.</p>
        <p>Điểm nhấn của “Ngày Việt Nam tại Pháp 2023” là khu vực giới thiệu ẩm thực Việt, nơi khách tham dự được thưởng
            thức món
            phở Thìn (Hà Nội) gây thương nhớ. Giữa tiết trời lạnh của thủ đô Paris, hơn 500 bát phở bò nóng hổi, thơm
            ngon đã làm ấm
            lòng thực khách. Trải nghiệm này vừa là lời chào mến khách tới bạn bè quốc tế, vừa là món quà đầy ý nghĩa
            dành cho những
            người Việt Nam xa quê hương.
        </p>
        <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/13.png" alt="">
            <div class="italic mx-auto text-sm text-center">

            </div>
        </div>
        <p>Với chương trình “Ngày Việt Nam tại Nhật Bản”, Ban tổ chức mong muốn tôn vinh tinh thần hữu nghị bền chặt
            giữa hai quốc
            gia, hai dân tộc. Để làm được điều này, chương trình nghệ thuật đã khéo léo lồng ghép những câu chuyện lịch
            sử nổi tiếng
            như chuyện tình của Công chúa Ngọc Hoa và thương nhân Araki Sorato hay tình bạn đẹp giữa nhà chí sĩ yêu nước
            Phan Bội
            Châu và bác sĩ Asaba Sakitaro.</p>
        <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/hinh-tra-dao1.png" alt="">
            <div class="italic mx-auto text-sm text-center">

            </div>
        </div>
        <p>Bên cạnh đó, chương trình cũng tạo ra một không gian giao lưu trà đạo đầy ấn tượng, để công chúng có thể cảm
            nhận nét
            tương đồng lẫn sự khác biệt giữa nghệ thuật trà Shan tuyết của Việt Nam với trà xanh truyền thống của Nhật
            Bản. Sau khi
            thưởng trà, một vị khách Nhật Bản nhận xét: “Trà của hai nước tuy có hương vị khác biệt nhưng đều rất ngon”.
        </p>
        <p>Trong các sự kiện, lịch sử quan hệ ngoại giao giữa Việt Nam với Nam Phi, Pháp và Nhật Bản lần lượt được khắc
            họa rõ nét
            trong các triển lãm ảnh, qua đó góp phần thắt chặt tinh thần hữu nghị và hợp tác của các quốc gia. Đặc biệt,
            Ban tổ chức
            đầu tư nhiều tâm huyết cho Không gian Văn hóa Việt Nam, đảm bảo mang tới công chúng những hình ảnh thân
            thuộc với bao
            thế hệ người Việt như: một góc phố cổ Hà Nội, gian hàng bày tranh dân gian, bộ bàn ghế tre, những ấm trà
            nóng hổi hay
            những tô phở Thìn thơm mùi kỷ niệm… Các hoạt động tương tác văn hóa (nặn Tò he, in tranh Đông Hồ, làm sơn
            mài khắc…)
            cũng là những trải nghiệm mới mẻ, giúp bạn bè quốc tế thêm hiểu, thêm yêu đất nước và con người Việt Nam,
            giúp những
            người Việt xa xứ cảm thấy tự hào về quê hương mình.</p>
        <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/cum-ngay-vn-tai-nhat-ban1.png" alt="">
            <div class="italic mx-auto text-sm text-center">

            </div>
        </div>
        <p>Có thể thấy chuỗi sự kiện “Ngày Việt Nam ở nước ngoài 2023” đã xây dựng thành công một không gian kết nối
            thân tình của
            những người yêu văn hóa Việt, đồng thời góp phần củng cố mối quan hệ hữu nghị, hợp tác giữa các quốc gia,
            các dân tộc.</p>
        <div>
            <p class="font-bold text-lg">1. Trải nghiệm Tò he</p>
            <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
                <img src="/images/da-trai-nghiem-da-giac-quan.png" alt="">
                <div class="italic mx-auto text-sm text-center">

                </div>
            </div>
        </div>
        <div>
            <p class="font-bold text-lg">2. Trải nghiệm làm tranh Đông Hồ, sơn mài</p>
            <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
                <img src="/images/20230914201735__mg_5156.jpg" alt="">
            </div>
            <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
                <img src="/images/cum-anh-nhat-ban1.jpg" alt="">
            </div>
            <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
                <img src="/images/cum-anh-nam-phi-5.jpg" alt="">
            </div>
            <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
                <img src="/images/3.png" alt="">
            </div>
        </div>
        <p>Chuỗi sự kiện “Ngày Việt Nam ở nước ngoài 2023” đã lựa chọn “Cội nguồn, Sức sống và Sự tiếp nối” làm chủ đề
            chính, được
            truyền tải xuyên suốt trong các hoạt động của Không gian Văn hóa Việt Nam và chương trình biểu diễn nghệ
            thuật ở cả Nam
            Phi, Pháp và Nhật Bản.</p>
        <p>Đây là dịp để bạn bè quốc tế tìm hiểu về “Cội nguồn” của người Việt thông qua Triển lãm các Di sản Thế giới
            được UNESCO
            công nhận tại Việt Nam, qua “Hành trình Vàng son” – nơi trưng bày những bộ đồ thêu tay tinh xảo tái hiện lại
            trang phục
            của vua chúa, quan lại thời Nguyễn, hay qua các nét đẹp văn hóa truyền thống như in tranh dân gian Đông Hồ,
            nặn Tò he, …
            Các chương trình biểu diễn cũng giới thiệu được nhiều “sắc màu” của nghệ thuật truyền thống Việt Nam, trong
            đó có nhiều
            loại hình đã được tổ chức UNESCO công nhận là Di sản văn hóa phi vật thể của nhân loại như dân ca ví giặm,
            hát văn – hầu
            đồng giá, …</p>
        <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/quote-3.3(3).png" alt="">
            <div class="italic mx-auto text-sm text-center">

            </div>
        </div>
        <p>Nghệ nhân in tranh dân gian Đông Hồ, ông Nguyễn Đăng Tâm, chia sẻ về nỗ lực quảng bá văn hóa Việt ở nước
            ngoài: “Thông
            qua các bức tranh được làm từ những nguyên liệu thiên nhiên như như sỏi son, lá cây chàm, hoa hòe, lá tre,
            sò điệp… tôi
            mong muốn bạn bè quốc tế phần nào hiểu được đời sống sinh hoạt của người dân đồng bằng Bắc Bộ tại Việt Nam
            khi xưa”.</p>
        <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/12.png" alt="">
            <div class="italic mx-auto text-sm text-center">

            </div>
        </div>
        <p>Từ khóa tiếp theo trong chủ đề chính của Chương trình đã được lấy làm tên gọi cho bộ ảnh quảng bá “Sức sống
            Việt Nam”.
            Các bức ảnh tưởng chừng rất đỗi đời thường, bình dị song lại khắc họa rõ nét một Việt Nam thân thiện, mến
            khách, tươi
            đẹp và năng động, sẵn sàng chào đón bạn bè quốc tế. Riêng tại Nam Phi, chủ đề “Sức sống” được họa sĩ sơn mài
            Trần Anh
            Tuấn phản ánh qua bộ tranh Hồ Gươm (Hà Nội) trong 4 mùa xuân-hạ-thu-đông. Để đưa nghệ thuật truyền thống này
            đến gần hơn
            với giới trẻ và đại chúng, anh Tuấn đã “thổi hồn sơn mài” vào những món đồ lưu niệm, những món trang sức
            nhỏ. Đây là một
            trong những trải nghiệm hết sức thú vị trong chương trình, thể hiện “sức sống” mãnh liệt của những nét đẹp
            văn hóa
            truyền thống đến từ Việt Nam.</p>
        <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/7(1).png" alt="">
            <div class="italic mx-auto text-sm text-center">

            </div>
        </div>
        <p>“Sự tiếp nối” và phát triển văn hóa Việt được thể hiện rõ nét qua câu chuyện của Phở Thìn Bờ Hồ – món ăn nổi
            tiếng đến
            từ thủ đô Hà Nội. Từ năm 1955, thương hiệu này đã phục vụ những tô phở bò tái chín với phần nước dùng đặc
            biệt thanh
            trong, làm hài lòng cả những thực khách khó tính nhất. Gần 70 năm trôi qua, Phở Thìn vẫn giữ được hương vị
            xưa và sẵn
            sàng vươn tầm quốc tế. Thông qua “Ngày Việt Nam ở nước ngoài 2023”, truyền nhân đời thứ 3 của thương hiệu –
            anh Bùi Chí
            Thành – đã giới thiệu thành công món Phở Thìn tới công chúng ở Pháp và Nhật Bản, góp phần quảng bá nền ẩm
            thực nước nhà.</p>
        <p>Câu chuyện của Họa sĩ Lương Minh Hòa và nghệ thuật sơn mài khắc tiếp tục làm nổi bật chủ đề “Sự tiếp nối” có
            trong
            chương trình. Theo họa sĩ Minh Hòa, loại hình nghệ thuật này vừa bảo tồn được giá trị của sơn mài truyền
            thống, vừa mang
            hơi thở đương đại để đưa các tác phẩm dân gian lên một tầm cao mới.</p>
        <div>
            <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
                <img src="/images/son-mai-sua-final-.png" alt="">
            </div>

            <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
                <img src="/images/16.png" alt="">
            </div>
            <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
                <img src="/images/4.1.png" alt="">
            </div>
        </div>
        <p>Chuỗi sự kiện “Ngày Việt Nam ở nước ngoài 2023” đã kết thúc và thành công rực rỡ, để lại ấn tượng sâu đậm
            trong lòng
            công chúng sở tại và cộng đồng người Việt xa quê hương. Đây là thành quả của những nỗ lực không ngừng nghỉ
            đến từ đơn vị
            tổ chức (Bộ Ngoại giao Việt Nam), từ các địa phương, doanh nghiệp, nhà thực hành văn hóa cùng đồng hành với
            chương trình
            vì có chung mong muốn quảng bá văn hóa, nâng tầm hình ảnh đất nước ở khắp muôn nơi.</p>
        <p>Hình ảnh những người Việt tự hào khoác trên mình trang phục truyền thống, tự tin chơi các loại nhạc cụ dân
            tộc giữa
            “kinh đô hoa lệ” Paris (Pháp), hay thủ đô Pretoria (Nam Phi) xa xôi, hay tại Fukuoka (Nhật Bản) sôi động,
            đều là minh
            chứng cho những nỗ lực gìn giữ, bảo tồn và phát triển văn hóa Việt ở tầm quốc tế.</p>
        <p>Sau khi tham gia chương trình, nghệ sĩ đàn tranh Đoàn Minh Tài chia sẻ: “Vì yêu âm nhạc truyền thống, tôi đã
            tự tìm cho
            mình hướng đi riêng: Chơi nhạc cụ truyền thống theo hướng hiện đại. Bằng cách này, âm nhạc dân tộc Việt Nam
            đã trở nên
            mới mẻ và thu hút hơn, dễ tiếp cận giới trẻ, đại chúng và bạn bè quốc tế hơn”.</p>
        <div class="flex flex-col gap-2  max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/16.png" alt="">
        </div>
        <p>Chuỗi sự kiện “Ngày Việt Nam ở nước ngoài 2023” không chỉ giới thiệu và lan tỏa thành công những nét đẹp
            truyền thống
            của người Việt, chạm đến trái tim của công chúng quốc tế, mà còn khơi dậy tình đoàn kết, niềm tự hào dân tộc
            của cộng
            đồng người Việt ở nước ngoài. Chị Trần Thị Liên, một người gốc Nghệ An đang sinh sống tại Nhật Bản, chia sẻ
            cảm nghĩ:
            “Khi được nhâm nhi ly trà Việt trên bộ bàn ghế tre, được mặc thử cổ phục Việt Nam, tôi cảm thấy như được trở
            về quê
            hương. Chồng tôi là người Nhật và anh ấy rất hào hứng khi được trải nghiệm Không gian Văn hóa này. Tôi cũng
            cảm thấy tự
            hào về những nét đẹp truyền thống của đất nước mình”.</p>
    </div>
</body>

</html>