<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ngày Việt Nam ở nước ngoài 2024 - Hội tụ tinh hoa ngàn năm, vươn mình trong kỷ nguyên mới</title>
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">
        <b>Chương trình “Ngày Việt Nam ở nước ngoài 2024” với chủ đề “Hội tụ tinh hoa ngàn năm, vươn mình trong kỷ
            nguyên mới” sẽ
            lần lượt được tổ chức tại thành phố Rio de Janeiro của Bra-xin từ 15/11 đến 17/11, và tại thủ đô Riyadh của
            Ả-rập Xê-út
            từ 13/12-15/12.</b>
        <p>“Tuần/Ngày Việt Nam ở nước ngoài” là chương trình quảng bá Quốc gia thường niên - một trong những hoạt động
            nằm trong
            Chiến lược Ngoại giao Văn hóa đến năm 2030 của Việt Nam. Chương trình được Thủ tướng Chính phủ giao Bộ Ngoại
            giao chủ
            trì tổ chức từ năm 2010 nhằm quảng bá hình ảnh đất nước, con người và văn hóa Việt Nam với bạn bè quốc tế,
            góp phần đưa
            quan hệ giữa Việt Nam với các nước đi vào chiều sâu, bền vững và tăng cường tình hữu nghị, sự hiểu biết, tin
            cậy lẫn
            nhau, giữa nhân dân các nước với Việt Nam.</p>
        <p>Sau 12 năm triển khai, thương hiệu sự kiện này đã đặt chân đến 20 QUỐC GIA, mang theo nhiều hoạt động giao
            lưu, kết nối
            ở cả ba lĩnh vực CHÍNH TRỊ, KINH TẾ và VĂN HÓA. Chương trình luôn nhận được sự quan tâm, ủng hộ của các cơ
            quan, tổ
            chức, bạn bè quốc tế và cộng đồng người Việt Nam ở nước ngoài.</p>
        <p>Năm 2023, chương trình “Ngày Việt Nam ở nước ngoài” với chủ đề “Nguồn cội – Sức sống – Sự tiếp nối” được tổ
            chức lần
            lượt tại Nam Phi, Pháp và Nhật Bản, nhân dịp kỷ niệm 30 năm quan hệ ngoại giao Việt Nam - Nam Phi và 50 năm
            quan hệ
            ngoại giao Việt Nam - Pháp, Việt Nam - Nhật Bản</p>
        <p>Chuỗi sự kiện đã giới thiệu cho bạn bè quốc tế nhiều hoạt động, trải nghiệm văn hoá đặc sắc của Việt Nam như:
            Không gian
            trưng bày và mặc thử cổ phục triều Nguyễn tại Nam Phi, Bộ sưu tập sơn mài khắc “Các công trình kiến trúc
            Pháp ở Việt
            Nam”, bộ ảnh “Việt Nam Tôi Yêu” của Phu nhân Nguyên Đại sứ Pháp tại Việt Nam; Không gian giao lưu trà đạo
            tại Nhật Bản
            ấn tượng, góc ẩm thực Phở Thìn Bờ Hồ. Các chương trình biểu diễn nghệ thuật cũng mang đến nhiều tiết mục
            ca-múa-nhạc-kịch được dàn dựng công phu, chuyên nghiệp, vừa thể hiện được nghệ thuật truyền thống Việt Nam,
            vừa là cơ
            hội để tăng cường giao lưu, gắn kết Việt Nam với công chúng nước sở tại. </p>
        <p>Điểm nhấn của chuỗi sự kiện là loạt triển lãm ảnh mang giá trị lịch sử, khắc hoạ quan hệ ngoại giao giữa Việt
            Nam với
            các nước Nam Phi, Pháp và Nhật Bản như một cách để tôn vinh quan hệ hữu nghị, hợp tác giữa các quốc gia và
            hướng tới
            tương lai.</p>
        <p>Năm 2024 đánh dấu kỷ niệm 25 năm quan hệ ngoại giao giữa Việt Nam với Ả-rập Xê-út, 35 năm quan hệ ngoại giao
            giữa Việt
            Nam và Bra-xin. Chương trình “Ngày Việt Nam ở nước ngoài 2024” sẽ lần lượt được tổ chức tại thành phố Rio de
            Janeiro của
            Bra-xin từ 15/11 đến 17/11, và tại thủ đô Riyadh của Ả-rập Xê-út từ 13/12-15/12.</p>
            <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
                <img src="/images/banner_arap.png" alt="">
            </div>
        <p>Với chủ đề "Hội tụ tinh hoa ngàn năm, vươn mình trong kỷ nguyên mới", "Ngày Việt Nam ở nước ngoài 2024" không
            chỉ khẳng
            định bản sắc văn hóa độc đáo của Việt Nam mà còn truyền tải khát vọng hội nhập, thích ứng, và phát triển
            trong kỷ nguyên
            mới, nơi tinh hoa văn hóa Việt được tỏa sáng mạnh mẽ trên trường quốc tế.</p>
        <p>Công chúng tại Bra-xin và Ả-rập Xê-út có cơ hội tham gia nhiều hoạt động trải nghiệm văn hóa đặc sắc làm nên
            thương hiệu
            “Ngày Việt Nam ở nước ngoài”. Các nghệ nhân tham gia chương trình sẽ giới thiệu nhiều workshop bổ ích, trong
            đó hướng
            dẫn chi tiết cách làm tranh Đông Hồ, sơn mài hay nặn Tò He. </p>
        <p>Là nghệ nhân gắn bó với chương trình “Ngày Việt Nam ở nước ngoài” qua nhiều năm, họa sĩ Trần Anh Tuấn, Trưởng
            khoa sơn
            mài của trường Đại học Mỹ thuật Công nghiệp Hà Nội cho biết ông luôn lồng ghép các giá trị nghệ thuật vào
            nội dung các
            hoạt động trong chương trình.</p>
        <p>
            Tại Bra-xin, họa sĩ Tuấn sẽ mang đến những sáng tác mới của cá nhân anh và kết hợp với một
            học viên
            người Bra-xin là Fabi Mesquita. Đây là một hoạ sĩ, vũ công, nghệ sĩ thị giác, nhà báo, nhà văn và nhà sản
            xuất văn
            hóa. Lần đầu tiên tiếp xúc với nghệ thuật sơn mài Việt Nam, Fabi rất hào hứng và có nhiều ý
            tưởng mới
            lạ, khắc hoạ phong cảnh và con người Việt Nam qua góc nhìn đặc biệt của một người nước
            ngoài.
        </p>
        <p>“Tại triển lãm ở cả hai quốc gia, tôi sẽ mang theo nhiều bức tranh sơn mài của cá nhân tôi và
            các học
            viên người nước ngoài. Khi lựa chọn, tôi ưu tiên các tác phẩm tiêu biểu, thể hiện những nét
            đẹp về phong
            cảnh và văn hóa Việt Nam, qua đó giới thiệu với bạn bè quốc tế về đất nước Việt Nam xinh
            đẹp, thân
            thiện và yêu hoà bình. Ngoài những bức tranh sơn mài, tôi sẽ mang theo cả những sản phẩm như
            hộp, khay,
            lọ, bát để giới thiệu với bạn bè quốc tế về tính ứng dụng của nghệ thuật sơn mài Việt
            Nam.</p>
        <p>“Ngày Việt Nam ở nước ngoài” tại Bra-xin dự kiến mang đến nhiều hoạt động biểu diễn đòi hỏi sự chuẩn bị công
            phu và
            chuyên nghiệp, lần đầu giới thiệu được những nét tinh hoa văn hoá đặc sắc nhất của Việt Nam như múa lân sư
            rồng hay biểu
            diễn rối nước. Nghệ nhân Phan Thanh Liêm chia sẻ nhiều trăn trở trong quá trình đưa các đạo cụ rối nước đi
            nửa vòng Trái
            Đất, từ Việt Nam đến Bra-xin.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/key visual vn br.jpg" alt="">
        </div>
        <p>“Ngày Việt Nam ở nước ngoài” tại Bra-xin dự kiến mang đến nhiều hoạt động biểu diễn đòi hỏi sự chuẩn bị công
            phu và
            chuyên nghiệp, lần đầu giới thiệu được những nét tinh hoa văn hoá đặc sắc nhất của Việt Nam như múa lân sư
            rồng hay biểu
            diễn rối nước. Nghệ nhân Phan Thanh Liêm chia sẻ nhiều trăn trở trong quá trình đưa các đạo cụ rối nước đi
            nửa vòng Trái
            Đất, từ Việt Nam đến Bra-xin.</p>
        <p>Với sự đầu tư và chuẩn bị kỹ càng, chương trình “Ngày Việt Nam ở nước ngoài 2024” tại Bra-xin và Ả-rập Xê-út
            hứa hẹn
            mang đến các hoạt động đặc sắc về nội dung, đa dạng về hình thức, qua đó truyền tải hình ảnh một Việt Nam
            năng động,
            sáng tạo, giàu bản sắc; đồng thời góp phần thắt chặt mối quan hệ hữu nghị, hợp tác giữa Việt Nam và các nước
            sở tại.</p>
    </div>
</body>

</html>