<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thăng hoa chương trình nghệ thuật kỷ niệm 50 năm thiết lập quan hệ ngoại giao Việt Nam – Nhật Bản</title>
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">
        <b>Vào tối 30/11, trong khuôn khổ Chương trình “Ngày Việt Nam tại Nhật Bản 2023”, công chúng Nhật Bản và cộng
            đồng người
            Việt Nam xa xứ đã được thưởng thức đêm biểu diễn nghệ thuật đặc sắc trong không gian đậm đà dấu ấn văn hóa
            Việt.</b>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Đại diện cho Ban tổ chức, ông Hoàng Hữu Anh, Phó Vụ trưởng Vụ Ngoại giao Văn hóa và UNESCO thuộc Bộ Ngoại
            giao cho biết:
            “Với chủ đề “Hương sắc Việt Nam”, mỗi tiết mục ca – múa – nhạc – kịch – trình diễn thời trang đều được chuẩn
            bị tỉ mỉ
            nhằm quảng bá văn hóa, đất nước và con người Việt Nam với những nét đẹp truyền thống đặc trưng. Qua những
            động tác kèm
            theo lời bình, khán giả dù ở đất nước, ngôn ngữ nào cũng hiểu được văn hoá của người Việt Nam trong từng
            tiết mục”.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Chương trình mở màn bằng điệu múa uyển chuyển, duyên dáng Chung sắc Hoa Đào. Sắc thắm của những cánh hoa Anh
            đào Nhật
            Bản, cùng hòa trong sắc đào Nhật Tân Hà Nội như tôn vinh những biểu tượng văn hóa tương đồng của hai đất
            nước.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Tiết mục hòa tấu nhạc cụ dân tộc đã mang đến cho công chúng màn diễn tấu mashup đặc sắc, độc lạ khi kết hợp
            lời và giai
            điệu của 2 bài hát nổi tiếng: “Trống Cơm” của Việt Nam và bài “Hoa Anh Đào Sakura” của Nhật Bản.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Sau những tiết mục nhẹ nhàng, tươi vui, khán giả được trở về với cõi thiêng của văn hóa tín ngưỡng dân gian
            Việt Nam –
            tục thờ Mẫu tam, tứ Phủ qua màn diễn xướng hầu đồng giá: Đức Quan Hoàng Mười. Loại hình nghệ thuật sân khấu
            dân gian
            mang đậm bản sắc dân tộc Việt Nam này đã được UNESCO công nhận là một trong những di sản văn hoá phi vật thể
            của Việt
            Nam.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Thông qua hoạt cảnh trình diễn áo dài cổ phục Việt, vở diễn về câu chuyện nàng công chúa Ngọc Hoa nước Việt
            kết hôn với
            thương nhân người Nhật Araki Sorato mang đến nhiều cảm xúc cho người xem.
        </p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Câu chuyện nhà nho, chí sỹ cách mạng Phan Bội Châu nhen nhóm khát vọng cho dân tộc, tìm đến Nhật Bản với
            phong trào Đông
            Du, đưa các thanh niên ưu tú sang Nhật học tập rồi trở về giúp nước, được lồng ghép thể hiện qua tiết mục
            dân ca ví,
            giặm (hát bằng thơ Phan Bội Châu). Tất cả đều thể hiện trọn vẹn thông điệp “Cội nguồn, sức sống và sự tiếp
            nối” mà Việt
            Nam gửi gắm.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Bài “Đất nước lời ru” qua tiếng đàn Tỳ bà đã kể cho công chúng Nhật Bản nghe câu chuyện về lời ru đất nước
            Việt Nam với
            truyền thống anh hùng, chung thủy mà khát vọng vươn lên.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Tiết mục ca Huế với lời ca nhẹ nhàng, sâu lắng đã đưa người xem trở về với vùng đất cố đô thân thương, ngắm
            nhìn nét đẹp
            dịu dàng của người con gái Việt trong tà áo dài – trang phục truyền thống của Việt Nam, một biểu tượng trong
            văn hóa của
            dân tộc Việt.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Qua những giai điệu lảnh lót của tiết mục độc tấu đàn T’rưng, công chúng Nhật Bản lại được “Trở về Tây
            Nguyên” và khám
            phá loại nhạc cụ vốn được làm từ những ống tre nứa độc đáo.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Cũng trong chương trình, điệu lý Nam bộ mang đậm dấu ấn của con người, vùng đất phương Nam đã giúp công chúng
            Nhật Bản
            hiểu hơn về những làn điệu dân ca độc đáo của người Việt.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Văn hóa dân gian đặc sắc cùng đời sống tâm linh phong phú của người Champa cũng được thể hiện khéo léo qua
            điệu múa dâng
            thần linh mềm mại, uyển chuyển.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Màn hát múa “Bài ca Việt Nhật – đẹp mãi sắc hoa đào” tiết mục được đặt hàng sáng tác riêng của nghệ sỹ để đặc
            biệt chúc
            mừng 50 năm hữu nghị Việt – Nhật đã khép lại chương trình trong niềm vui hân hoan và tràn đầy cảm xúc.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/default.png" alt="">
        </div>
        <p>Chương trình nghệ thuật đã lan tỏa mạnh mẽ hình ảnh Việt Nam tươi đẹp, tràn đầy sức sống tới người dân Nhật
            Bản và bạn
            bè quốc tế, đồng thời hun đúc mối quan hệ hữu nghị truyền thống lâu bền giữa 2 nước Việt Nam và Nhật Bản.
        </p>
    </div>
</body>

</html>