<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>“Vietnam Days Abroad 2023” promotes country to international friends</title>
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">
        <p class="font-bold">“Vietnam Days Abroad 2023” successfully promoted Vietnam’s image, people, and country to
            international friends,
            fostering friendship and cooperation between countries.</p>
        <p class="font-bold">Efforts to spread Vietnamese culture</p>
        <p>After 13 years of implementation, “Vietnam Days Abroad”, an annual national promotion program
            assigned by the prime
            minister to be hosted by the Ministry of Foreign Affairs, has set foot in 18 countries with many exchange
            and networking
            activities in three fields of politics, economics, and culture.</p>
        <p>In 2023, “Vietnam Days Abroad” was held in South Africa, France, and Japan, on the occasion of
            celebrating 30 years of
            diplomatic relations between Vietnam and South Africa and 50 years of diplomatic relations between Vietnam
            and Japan and
            France.</p>
        <p>This year’s program welcomed Vice President Vo Thi Anh Xuan and a high-ranking delegation during
            their official visit to
            South Africa in September.</p>
        <p>Representative of the Organizing Committee, Hoang Huu Anh, Deputy Director of the Department of
            Cultural Diplomacy and
            UNESCO, said that South Africa, France, and Japan are all important partners of Vietnam in three different
            continents,
            with rich indigenous cultures. Therefore, this year’s program had been carefully researched with appropriate
            adjustments
            made in each area.</p>
        <p>South Africa was the first destination and also the furthest destination of the series of events
            this year. Here, the
            Vietnamese community is sparse, and cultural connections and exchanges to the local community are limited.
        </p>
        <p>When “Vietnam Days in South Africa 2023” was held on Sept. 14 and 15 in the capital Pretoria, it
            attracted the attention
            of local people and international friends, successfully promoting the image of Vietnam and the Vietnamese
            people in
            South Africa and Africa.</p>
        <div class="flex flex-col gap-2 justify-center items-center max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/Image-985628592-ExtractWord-0-8137-3927-1702266884.png" alt="">
            <div class="italic mx-auto text-sm text-center">
                Hoang Huu Anh, Deputy Director of the Department of Cultural Diplomacy and UNESCO, speaks about this
                year’s “Vietnam
                Days Abroad” program. Photo courtesy of the Ministry of Foreign Affairs of Vietnam
            </div>
        </div>
        <p>In the program in Paris, many contents were selected to highlight the cultural connection between Vietnam and
            France
            over the past half century.</p>
        <p>Artist Luong Minh Hoa brought a collection of engraved lacquer with the theme of French architectural works
            to Vietnam,
            receiving the attention of many attendees. The photo series “Vietnam I Love” by Armelle DG, wife of former
            French
            Ambassador to Vietnam Nicolas Warnery is also a vivid testament to the emotional attachment of a French
            person to
            Vietnam.</p>
        <p>A highlight of “Vietnam Days in France 2023” was also the Vietnamese cuisine introduction area, where
            attendees enjoyed
            more than 500 bowls of Pho Thin from Hanoi.</p>
        <p>With “Vietnam Day in Japan 2023”, the organizing committee has integrated into the program famous historical
            stories
            such as the love story of Princess Ngoc Hoa and businessman Araki Sorato, or how patriotic writer Phan Boi
            Chau and
            doctor Asaba Sakitaro worked to honor the two long-standing cultures and friendship between the two
            countries.</p>
        <p class="font-bold mt-3">Appreciating history, looking toward the future</p>
        <p>The series of events at “Vietnam Days Abroad 2023” chose “Origin, vitality, and continuity” as the main
            theme, conveyed
            throughout the activities of the Vietnam Cultural Space event and art performances in South Africa, France,
            and Japan.</p>
        <p>It was an opportunity for international friends to learn about the origins of the Vietnamese people through
            the Exhibition of World Heritage Sites recognized by UNESCO in Vietnam and through the Golden Journey, which
            recreated the costumes of kings and mandarins of the Nguyen Dynasty, showcased Dong Ho folk paintings and
            the making of Vietnamese old-time flour-based toy To he.</p>
        <p>The performances also introduced Vietnamese traditional arts, many of which have been recognized by UNESCO as
            the
            Intangible Cultural Heritage of Humanity, such as Vi Giam folk songs and Van-Hau Dong Gia singing.</p>
        <div class="flex flex-col gap-2 justify-center items-center max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/Image-ExtractWord-1-Out-6093-1702266885.png" alt="">
            <div class="italic mx-auto text-sm text-center">
                An art performance in “Vietnam Day Abroad 2023 in Japan”. Photo courtesy of the Ministry of Foreign
                Affairs of Vietnam
            </div>
        </div>
        <p>Dong Ho folk painting artist Nguyen Dang Tam, who has made efforts to promote Vietnamese culture abroad,
            said: “Through
            paintings made from natural materials such as vermilion pebbles and indigo leaves, flowers, bamboo leaves,
            and scallops,
            I hope international friends can somehow understand the daily life of the people of the northern delta in
            Vietnam in the
            past.”</p>
        <p>The next keyword in the main topic of the program was taken as the name for the promotional photo set,
            Vietnam Vitality.</p>
        <p>The photos looked ordinary and simple, but they clearly portrayed a friendly, hospitable, beautiful, and
            dynamic
            Vietnam, ready to welcome international friends.</p>
        <p>The continuity and development of Vietnamese culture were clearly shown through the story of Pho Thin Bo Ho,
            a famous
            dish from the capital Hanoi, and the art of engraved lacquer.</p>
        <div class="flex flex-col gap-2 justify-center items-center max-w-full  mx-auto" style="width: 680px;">
            <img src="/images/a3-1702287437-3185-1702287508.jpg" alt="">
            <div class="italic mx-auto text-sm text-center">

            </div>
        </div>
        <p>The series of events at “Vietnam Days Abroad 2023” ended with success, leaving a deep impression in the local
            public and
            the Vietnamese community far from home.</p>
        <p>This was the result of efforts from the organizing unit – the Ministry of Foreign Affairs of Vietnam,
            localities,
            businesses, and cultural practitioners who accompanied the program because of the common desire to promote
            Vietnam’s
            culture and elevate the country’s image everywhere.</p>
        <p>“Cultural diplomacy always brings special emotions, helping people of different countries understand and love
            each other
            more, while at the same time evoking the spirit of national pride among Vietnamese overseas. The program
            “Vietnam Days
            Abroad 2023” is a gift to the Vietnamese community far from home,” Anh said.</p>
    </div>
</body>

</html>