<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'Ngày Việt Nam tại Nhật Bản 2023' tôn vinh tình hữu nghị trải dài nửa thế kỷ</title>
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">


        <b>'Ngày Việt Nam tại Nhật Bản 2023' tôn vinh tình hữu nghị trải dài nửa thế kỷ</b>
        <b>Chương trình Ngày Việt Nam tại Nhật Bản 2023 sẽ diễn ra tại ĐH Y khoa Kyushu, tỉnh Fukuoka (Nhật Bản) vào
            ngày
            30.11.
            Đây là sự kiện được Bộ Ngoại giao Việt Nam tổ chức nhân dịp kỷ niệm 50 năm quan hệ ngoại giao Việt Nam -
            Nhật
            Bản (1973
            - 2023).</b>
        <p>Chương trình Ngày Việt Nam tại Nhật Bản 2023 mang đến nhiều nội dung đổi mới, sáng tạo, nhằm ca ngợi tình hữu
            nghị bền
            chặt giữa hai quốc gia, hai dân tộc.</p>
        <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
                <img src="/images/1-chuong-trinh-ngay-viet-nam-tai-nhat-ban-2023-se-duoc-to-chuc-vao-3011-tai-tinh-fukuoka-nhat-ban-1700959843855129661314.webp"
                    alt="">
            </div>
            <div class="text-sm italic text-center">Chương trình Ngày Việt Nam tại Nhật Bản 2023 sẽ được tổ chức vào
                30.11 tại tỉnh Fukuoka (Nhật Bản)
                Ảnh: Bộ Ngoại giao Việt Nam.</div>
        </div>
        <p>Điểm nhấn trong chương trình là buổi biểu diễn nghệ thuật mang tên Hương sắc Việt Nam được thực hiện công
            phu, bài bản,
            giới thiệu được nhiều nét đẹp văn hóa của người Việt như ca Huế, múa Chăm, dân ca ví - giặm hay trình diễn
            áo dài xưa.</p>
        <p>Để ca ngợi tình hữu nghị Việt - Nhật bền chặt, chương trình nghệ thuật cũng lồng ghép những câu chuyện lịch
            sử nổi tiếng
            như chuyện tình của Công chúa Ngọc Hoa và thương nhân Araki Sorato hay tình bạn đẹp giữa nhà chí sĩ yêu nước
            Phan Bội
            Châu và bác sĩ Asaba Sakitaro. Thông qua các tiết mục được dàn dựng chuyên nghiệp, chương trình hứa hẹn để
            lại nhiều cảm
            xúc trong lòng người xem, đồng thời quảng bá thành công văn hóa, đất nước và con người Việt Nam.</p>
        <p>Không gian văn hóa cũng là một hoạt động quan trọng trong khuôn khổ chương trình Ngày Việt Nam tại Nhật Bản
            2023. Tại
            đây, khách tham quan có dịp tìm hiểu về mối quan hệ Việt - Nhật thông qua Triển lãm ảnh 50 năm quan hệ ngoại
            giao giữa
            hai nước. Đây cũng là một không gian đậm đà bản sắc, mang đến nhiều trải nghiệm văn hóa thú vị như trình
            diễn trà Việt,
            làm tranh sơn mài khắc, mặc thử cổ phục triều Nguyễn, nặn tò he, v…v… Trong đó, hoạt động trải nghiệm trà
            Việt là điểm
            nhấn sáng tạo, thể hiện mong muốn giao lưu văn hóa với Nhật Bản - nơi nổi tiếng với sản phẩm trà xanh truyền
            thống.</p>

        <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
                <img src="/images/2-thuong-thuc-tra-viet-ngay-tai-xu-so-tra-dao-nhat-ban-se-la-mot-trai-nghiem-dang-nho-17009601223661640210874.webp"
                    alt="">
            </div>
            <div class="text-sm italic text-center">Thưởng thức trà Việt ngay tại xứ sở trà đạo Nhật Bản sẽ là một trải
                nghiệm đáng nhớ
                Ảnh: Bộ Ngoại giao Việt Nam.</div>
        </div>
        <p>Đại diện ban tổ chức, ông Hoàng Hữu Anh, Phó Vụ trưởng Vụ Ngoại giao Văn hóa và UNESCO (Bộ Ngoại giao), chia
            sẻ: "Việt
            Nam và Nhật Bản từ lâu đã có quan hệ hợp tác sâu rộng trên nhiều lĩnh vực. Hai nước đều có nền văn hóa lâu
            đời, đa dạng
            và độc đáo. Hiện tổng số người Việt Nam tại Nhật Bản đạt gần nửa triệu người, đứng thứ hai trong số các cộng
            đồng người
            nước ngoài tại Nhật Bản. Vì vậy, ban tổ chức đã dành nhiều tâm huyết để xây dựng chương trình Ngày Việt Nam
            tại Nhật Bản
            2023 nhằm tôn vinh tình hữu nghị, sự hợp tác bền chặt giữa hai quốc gia, đồng thời giới thiệu hình ảnh Việt
            Nam giàu bản
            sắc nhưng không kém phần hiện đại tới công chúng tại Nhật Bản".</p>
        <p>Sau Nam Phi và Pháp, Nhật Bản chính là điểm đến cuối cùng của chuỗi sự kiện Ngày Việt Nam ở nước ngoài 2023.
            Đây cũng là
            lần thứ 2 chương trình được tổ chức tại Nhật Bản (lần đầu tổ chức vào năm 2013).</p>
        <p>"Ngày Việt Nam ở nước ngoài" là chương trình quảng bá quốc gia thường niên được Thủ tướng Chính phủ giao cho
            Bộ Ngoại
            giao chủ trì tổ chức từ năm 2010. Chương trình diễn ra nhân các chuyến thăm chính thức của Lãnh đạo cấp cao
            Việt Nam tới
            các nước đối tác và luôn nhận được sự tham gia, hưởng ứng rộng rãi của các địa phương, doanh nghiệp, cơ
            quan, tổ chức,
            bạn bè quốc tế và cộng đồng người Việt Nam ở nước ngoài.</p>
    </div>
</body>

</html>