<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGÀY VIỆT NAM TẠI NHẬT BẢN 2023</title>
</head>
<body>
        <div id="template-details-news" class="flex flex-col gap-4">
            <p>Thời gian: 30/11</p>
            <p>Địa điểm: Hội trường trung tâm Đại học Y khoa Kyushu, Fukuoka, Nhật Bản</p>
            <p>Lịch trình sự kiện:</p>
            <p>– 9h30 – 20h00: KHÔNG GIAN VĂN HÓA</p>
            <p>+ Triển lãm ảnh quan hệ Việt Nam – Nhật Bản và “Sức sống Việt Nam”</p>
            <p>+ Triển lãm cổ phục “Hành Trình vàng son”</p>
            <p>+ Giới thiệu về tranh dân gian đông hồ và tương tác với nghệ nhân về nghệ thuật làm tranh dân gian Đông Hồ</p>
            <p>+ Giới thiệu tranh sơn mài khắc và tương tác với nghệ nhân tranh sơn mài khắc Việt Nam</p>
            <p>+ Giới thiệu và tương tác với nghệ nhân Tò He</p>
            <p>+ Giới thiệu và thưởng thức tinh hoa trà Việt</p>
            <p>+ Giới thiệu và chụp ảnh check – in không gian phở Thìn Bờ Hồ</p>
            <p>+ Mặc cổ phục, áo dài và chụp hình lưu niệm</p>
            <p>– 19h00 – 20h10: CHƯƠNG TRÌNH BIỂU DIỄN NGHỆ THUẬT “HƯƠNG SẮC VIỆT NAM”</p>
            <p>+ 18h00 – 19h00: Đón khách</p>
            <p>+ 19h00 – 19h05: Chào mừng</p>
            <p>+ 19h05 – 20h10: Chương trình biểu diễn nghệ thuật với chủ đề “Hương sắc Việt Nam” với các tiết mục ca-múa-nhạc-trình
            diễn đa dạng và độc đáo như: Múa Chung sắc hoa đào, múa Chăm, hòa tấu nhạc cụ dân tộc, dân ca Ví, Giặm, hát văn – hầu
            đồng giá,… đặc biệt dân ca Ví, Giặm và hát văn – hầu đồng là hai di sản văn hoá phi vật thể của Việt Nam được UNESCO
            công nhận.</p>
        </div>
</body>
</html>