<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mỹ Latin và Trung Đông sẽ là điểm đến của Ngày Việt Nam ở nước ngoài 2024</title>
</head>
<body>
    <div id="template-details-news" class="flex flex-col gap-4">
        <p>Một mùa "Ngày Việt Nam ở nước ngoài" đã lại rất cận kề. Sau thành công ở Nam Phi, Pháp và Nhật Bản vào năm 2023, chương
        trình sẽ tiếp tục đặt chân đến 2 quốc gia thuộc 2 khu vưc còn nhiều tiềm năng tăng cường hợp tác, giao lưu với Việt Nam.
        Đó là Bra-xin và Ả-rập Xê-út.
        Cụ thể, 2 thành phố nổi tiếng và đầy sắc màu văn hóa – Rio de Janeiro (Brazil) và Thủ đô Riyadh (Ả Rập Xê Út) sẽ là điểm
        đến hấp dẫn và thú vị của "Ngày Việt Nam ở nước ngoài 2024".</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/banner_arap.png" alt="">
        </div>
        <p>Rio de Janeiro – Thành phố nổi tiếng với các lễ hội Carnival rực rỡ, vũ điệu samba sôi động, bãi biển Copacabana tuyệt
        đẹp và bức tượng Chúa Kitô cứu thế hùng vĩ. "Ngày Việt Nam ở nước ngoài 2024" sẽ hòa mình vào dòng chảy sôi động của nền
        văn hóa Nam Mỹ, hứa hẹn mang đến công chúng những trải nghiệm đậm chất nghệ thuật, kết nối hai nền văn hóa Việt Nam và
        Bra-xin.
        Riyadh – Thủ đô hiện đại và sôi động của Ả-Rập Xê-Út! Riyadh nổi tiếng là một trong những trung tâm kinh tế hàng đầu thế
        giới, nằm giữa hệ thống các sa mạc hùng vĩ.</p>
        <div class="flex flex-col gap-2 w-full  mx-auto" style="max-width: 680px;">
            <img src="/images/key visual vn br.jpg" alt="">
        </div>
        <p>Tại đây, chương trình "Ngày Việt Nam ở nước ngoài 2024" sẽ mở ra không gian giao lưu văn hoá đặc sắc, đậm dấu ấn của
        từng quốc gia.</p>
        <ul>
            <li>Thời gian: Sáng ngày 6/11/2024.</li>
            <li>Địa điểm: Trụ sở Bộ Ngoại giao - Số 2 đường Lê Quang Đạo, quận Nam Từ Liêm, Hà Nội</li>
        </ul>
        <p>Cùng đón chờ sự kiện "Ngày Việt Nam ở nước ngoài 2024" - nơi kết nối những giá trị tinh hoa của Việt Nam với thế giới.</p>
    </div>

</body>
</html>