<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ngày Việt Nam tại Nhật Bản 2023: Tôn vinh tình hữu nghị và văn hóa Việt</title>
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">
        <i>Tổ chức vào ngày 30/11 tại tỉnh Fukuoka, chương trình “Ngày Việt Nam tại Nhật Bản 2023” không chỉ quảng bá
            thành công
            hình ảnh, đất nước và con người Việt Nam mà còn thắt chặt tình hữu nghị bền chặt giữa hai quốc gia, hai dân
            tộc.</i>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3"
                src="/images/21-ngay-viet-nam-tai-nhat-ban-2023-vinh-du-chao-don-nhieu-lanh-dao-cac-bo-ban-nganh-dai-dien-dia-phuong-doanh-nghiep-tu-hai-phia-387.jpg.webp"
                alt="">
            <div class="italic mx-auto text-sm text-center">
                “Ngày Việt Nam tại Nhật Bản 2023” vinh dự chào đón nhiều lãnh đạo các bộ, ban, ngành, đại diện địa
                phương, doanh nghiệp
                từ hai phía. (Ảnh: Bộ Ngoại giao Việt Nam)
            </div>
        </div>
        <p>"Ngày Việt Nam tại Nhật Bản 2023" diễn ra tại Đại học Y khoa Kyushu (tỉnh Fukuoka), do Bộ Ngoại giao Việt Nam
            tổ chức
            nhân dịp Kỷ niệm 50 năm thiết lập quan hệ ngoại giao Việt Nam - Nhật Bản (1973-2023). Sự kiện nằm trong
            chuỗi hoạt động
            "Ngày Việt Nam ở nước ngoài 2023", lần lượt mang hình ảnh Việt Nam tới 3 quốc gia là Nam Phi, Pháp và Nhật
            Bản.</p>
        <b>Chương trình biểu diễn nghệ thuật đặc sắc</b>
        <p>“Ngày Việt Nam tại Nhật Bản 2023” thu hút đông đảo người dân xứ sở hoa anh đào và Việt kiều sở tại với chương
            trình biểu
            diễn nghệ thuật độc đáo cùng không gian văn hóa đậm đà bản sắc của Việt Nam.</p>
        <p>Trong đó, điểm nhấn của chương trình là buổi biểu diễn nghệ thuật mang tên “Hương sắc Việt Nam” được tổ chức
            vào tối
            30/11. Trong chương trình, bà Vũ Chi Mai, Tổng Lãnh sự Việt Nam tại Fukuoka chân thành chia sẻ: “Đối với
            cộng đồng người
            Việt Nam xa xứ, chúng tôi cảm thấy vô cùng xúc động khi được trải nghiệm một không gian hội tụ những nét
            tinh hoa văn
            hóa của người Việt như thế này”.</p>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3"
                src="/images/22-cac-tiet-muc-bieu-dien-nghe-thuat-chu-de-huong-sac-viet-nam-duoc-dan-dung-chuyen-nghiep-cong-phu-5749.jpg.webp"
                alt="">
            <div class="italic mx-auto text-sm text-center">
                Các tiết mục biểu diễn nghệ thuật chủ đề “Hương sắc Việt Nam”.
                (Ảnh: Bộ Ngoại giao Việt Nam)
            </div>
        </div>
        <p>Với các tiết mục được dàn dựng chuyên nghiệp và bài bản, buổi biểu diễn đã đem tới một “bữa tiệc” nghệ thuật
            mãn nhãn,
            để lại nhiều cảm xúc trong lòng người xem. Qua đó, chương trình đã quảng bá thành công văn hóa, đất nước và
            con người
            Việt Nam với những nét đẹp truyền thống như ca Huế, múa Chăm, dân ca Ví – Giặm hay trình diễn áo dài xưa.
        </p>
        <p>Để ca ngợi tình hữu nghị Việt – Nhật bền chặt, chương trình nghệ thuật cũng lồng ghép những câu chuyện lịch
            sử nổi tiếng
            như chuyện tình của Công chúa Ngọc Hoa và thương nhân Araki Sorato hay tình bạn đẹp giữa nhà trí sĩ yêu nước
            Phan Bội
            Châu và bác sĩ Asaba Sakitaro.
        </p>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3" src="/images/23-nham-nhi-tach-tra-viet-noi-xu-so-tra-dao-la-mot-trai-nghiem-thu-vi-voi-ban-be-nhat-va-quoc-te-353.jpg.webp" alt="">
            <div class="italic mx-auto text-sm text-center">
            Nhâm nhi tách trà Việt nơi xứ sở trà đạo là một trải nghiệm thú vị với bạn bè Nhật và quốc tế.
            (Ảnh: Bộ Ngoại giao Việt Nam)
            </div>
        </div>
        <!-- <b>Không gian văn hóa đa trải nghiệm</b>
        <p>Ngoài chương trình nghệ thuật, Không gian Văn hóa cũng là một hoạt động quan trọng trong khuôn khổ Chương
            trình “Ngày
            Việt Nam tại Nhật Bản 2023”. Được thiết kế và bài trí tỉ mỉ, không gian này tái hiện những hình ảnh hết sức
            thân thuộc
            với bao thế hệ người Việt như một góc phố cổ Hà Nội, gian hàng bày tranh dân gian, bộ bàn ghế tre, những ấm
            trà nóng hổi
            hay những tô phở Thìn thơm mùi kỷ niệm, … Đây là nơi mang đến nhiều trải nghiệm văn hóa mới mẻ với công
            chúng sở tại,
            đồng thời là món quà đầy ý nghĩa dành cho những người Việt đang xa quê hương.</p>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3" src="/images/default.png" alt="">
            <div class="italic mx-auto text-sm text-center">
                Nhâm nhi tách trà Việt nơi xứ sở trà đạo là một trải nghiệm thú vị với bạn bè Nhật và quốc tế. (Ảnh: Bộ
                Ngoại giao Việt
                Nam)
            </div>
        </div> -->
        <p>Họa sĩ sơn mài Lương Minh Hòa đã trưng bày những bức tranh sơn mài dành riêng cho dịp kỷ niệm 50 năm thiết
            lập quan hệ
            ngoại giao Việt Nam – Nhật Bản. Ông cũng nhiệt tình hướng dẫn người xem tự sáng tạo cho riêng mình các sản
            phẩm lưu niệm
            bằng sơn mài.</p>
        <p>“Sơn mài Nhật hạn chế dùng nước, phẳng phiu và sắc nét, không tạo chất liệu trên bề mặt. Trong khi đó, sơn
            mài khắc của
            Việt Nam được vẽ bằng nhiều lớp, tạo được hiệu ứng hấp dẫn bởi càng nhìn càng thấy nhiều lớp màu ẩn hiện bên
            trong”, họa
            sĩ Hòa nói về nét khác biệt làm nên bản sắc riêng của nghệ thuật sơn mài khắc.</p>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3" src="/images/24-hoa-si-luong-minh-hoa-huong-dan-khach-khac-thep-bac-mai-de-tao-nen-mot-buc-son-mai-khac-lam-ky-niem-9357.jpg.webp" alt="">
            <div class="italic mx-auto text-sm text-center">
                Họa sĩ Lương Minh Hòa hướng dẫn khách khắc, thếp bạc, mài để tạo nên 1 bức sơn mài khắc làm kỷ niệm.
                (Ảnh: Bộ Ngoại giao
                Việt Nam)
            </div>
        </div>
        <p>Cũng trong không gian này, nghệ nhân tranh dân gian Đông Hồ Nguyễn Đăng Tâm tự tin trình diễn kỹ thuật in
            tranh bằng bản
            khắc gia truyền có tuổi đời hàng chục năm. Ông giới thiệu với người dân Nhật Bản bức tranh dân gian “Đấu
            vật”, như gợi
            nhắc về hình ảnh nổi tiếng của các võ sĩ sumo.</p>
            <p>Khách tham dự “Ngày Việt Nam tại Nhật Bản 2023” còn được khám phá về trà Việt và nghệ thuật nặn tò he độc đáo của Việt
            Nam, trải nghiệm mặc thử cổ phục...</p>
        <!-- <p>Nghệ nhân Nguyễn Đăng Tâm vừa bày tỏ: “Những người làm tranh dân gian Đông Hồ phải rất tỉ mỉ trong từng công
            đoạn: từ
            sáng tác, tạo bản khắc đến chuẩn bị giấy dó và in tranh. Thông qua các bức tranh được làm từ những nguyên
            liệu thiên
            nhiên như như sỏi son, lá cây chàm, hoa hòe, lá tre, sò điệp…, tôi mong muốn bạn bè quốc tế phần nào hiểu
            được đời sống
            sinh hoạt của người dân đồng bằng Bắc Bộ tại Việt Nam”.
        </p> -->
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3" src="/images/13-cong-chung-nhat-ban-yeu-thich-trai-nghiem-mac-co-phuc-viet-trang-phuc-truyen-thong-cua-viet-nam-6591.jpg.webp" alt="">
            <div class="italic mx-auto text-sm text-center">
                Một gia đình Nhật hào hứng check-in với trang phục cung đình Việt xưa.
                (Ảnh: Bộ Ngoại giao Việt Nam)
            </div>
        </div>
        <!-- <p>
            Khách tham dự “Ngày Việt Nam tại Nhật Bản 2023” còn được khám phá về trà Việt và nghệ thuật nặn tò he độc
            đáo của Việt
            Nam.
        </p> -->
        <p>Nghệ nhân Đào Đức Hiếu giới thiệu cho công chúng Nhật Bản những tách trà shan tuyết lấy từ các cây cổ thụ
            hàng trăm năm
            tuổi trên đỉnh núi Suối Giàng – một trong những nơi khởi nguồn của Trà trên thế giới. Đây cũng là dịp mà
            nghệ nhân trình
            diễn kỹ thuật pha trà, thưởng trà của người Việt để công chúng Nhật Bản có thể thưởng thức, chiêm nghiệm nét
            giống và
            khác nhau giữa văn hóa trà của hai nước.</p>
        <p>Nghệ nhân Tò he Đặng Đình Thường khiến khách tham quan bất ngờ khi khéo léo nặn những món đồ chơi truyền
            thống của trẻ
            em Việt Nam. Bằng đôi tay điêu luyện, anh tỉ mỉ tạo hình ra những biểu tượng của văn hóa Nhật Bản như quốc
            kỳ “mặt trời
            mọc”, núi Phú Sĩ, Samurai, Geisha,… Nhiều khách tham dự tỏ ra vô cùng thích thú và không ngại thử sức nhào
            nặn những món
            đồ chơi của riêng mình.</p>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3" src="/images/26-nghe-nhan-dang-dinh-thuong-mang-toi-su-kien-nhung-chiec-to-he-mang-hinh-anh-bieu-tuong-cua-van-hoa-nhat-ban-6741.jpg.webp" alt="">
            <div class="italic mx-auto text-sm text-center">
                Những chiếc tò he Việt tạo hình biểu tượng của văn hóa Nhật Bản thu hút công chúng tham quan.
                (Ảnh: Bộ Ngoại giao Việt Nam)
            </div>
        </div>
        <p>Đại diện cho Ban tổ chức, ông Hoàng Hữu Anh, Phó Vụ trưởng Vụ Ngoại giao Văn hóa và UNESCO thuộc Bộ Ngoại
            giao, cho
            biết: “Vừa qua, trong chuyến thăm chính thức Nhật Bản của Chủ tịch nước Võ Văn Thưởng, Việt Nam và Nhật Bản
            đã nâng cấp
            quan hệ lên đối tác chiến lược toàn diện, hợp tác sâu rộng trên nhiều lĩnh vực. Hai nước đều có nền văn hóa
            lâu đời, đa
            dạng và độc đáo. Hiện tổng số người Việt Nam tại Nhật Bản đạt gần nửa triệu người, đứng thứ hai trong số các
            cộng đồng
            người nước ngoài tại Nhật Bản. ‘Ngày Việt Nam tại Nhật Bản 2023’ là một hoạt động ngoại giao văn hóa ý
            nghĩa, góp phần
            làm sâu sắc thêm quan hệ hữu nghị, hợp tác 50 năm Việt Nam – Nhật Bản, đồng thời cũng là dịp để giới thiệu
            hình ảnh Việt
            Nam giàu bản sắc nhưng không kém phần hiện đại tới công chúng tại Nhật Bản”.</p>
    </div>
</body>

</html>