<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinh hoa văn hóa Việt tỏa sáng tại Nhật Bản</title>
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">
        <i>(ĐCSVN) - Khuôn viên Đại học Y khoa Kyushu, tỉnh Fukuoka, Nhật Bản trở nên rộn ràng, tràn ngập sắc màu văn
            hóa với
            Chương trình “Ngày Việt Nam tại Nhật Bản 2023”. Chương trình do Bộ Ngoại giao Việt Nam tổ chức, đã thu hút
            hàng nghìn
            lượt khách tham dự, tạo nên một không gian kết nối và giao lưu văn hóa Việt - Nhật thân tình, ấm áp.</i>
        <b>Từ trải nghiệm tạo tác tranh sơn mài khắc…</b>
        <p>Trong không gian đậm dấu ấn văn hóa Việt, không ít người dân của xứ sở hoa anh đào đã “phải lòng” những bức
            tranh sơn
            mài khắc độc đáo.</p>
        <p>Vừa đưa tay chỉ vào bức “Ngũ hổ” dát vàng dát bạc, họa sĩ Lương Minh Hòa vừa giới thiệu: “Đây vốn là bức
            tranh thờ dân
            gian đặc trưng trên giấy dó, song được ‘tái tạo’ bằng chất liệu sơn mài với những nét khắc nổi tinh xảo”.
        </p>
        <p>Từ vẻ đẹp rực rỡ của tranh Hàng Trống nguyên bản, khi “đi” vào sơn mài, “Ngũ hổ” sở hữu bố cục chặt chẽ hơn,
            các gam màu
            trầm song nhiều sắc độ hơn. Không đơn giản là một kỹ thuật làm tranh, sơn mài khắc của Latoa Indochine là
            hình thức nghệ
            thuật sáng tạo đầy tinh tế và độc đáo, dựa trên cả hai phương pháp sơn mài và sơn khắc, phản ánh một phần
            tinh hoa của
            nghệ thuật truyền thống Việt Nam. Bằng cách này, tranh dân gian được nâng lên một tầm cao mới, là sự kết hợp
            của giá trị
            truyền thống và hơi thở đương đại. Những bức sơn mài khắc đã để lại ấn tượng sâu sắc cho công chúng Nhật Bản
            và bạn bè
            quốc tế.</p>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3"
                src="/images/1-1-cac-vi-khach-say-sua-tim-hieu-ve-nghe-thuat-son-mai-khac-cua-viet-nam-1-copy.jpg"
                alt="">
            <div class="italic mx-auto text-sm text-center">
                Các vị khách say sưa tìm hiểu về nghệ thuật Sơn mài khắc của Việt Nam (Ảnh: Bộ Ngoại giao Việt Nam)
            </div>
        </div>
        <p>“Tham dự sự kiện lần này, tôi mang theo hơn 10 bức tranh sơn mài khắc, trong đó nổi bật là tác phẩm ‘Kỷ niệm
            50 năm quan
            hệ ngoại giao Việt Nam – Nhật Bản’ để làm quà tặng đối ngoại. Bức tranh bao gồm biểu tượng kiến trúc tiêu
            biểu của hai
            nước là Khuê Văn Các và Tháp Chureito, cùng hai loại quốc hoa là sen và anh đào. Trong khi đó, bức tranh
            ‘Thương cảng
            Hội An’ tái hiện lại khung cảnh những ngày đầu giao thương giữa hai nước, làm nổi bật hình ảnh Chùa Cầu mang
            dấu ấn kiến
            trúc Nhật Bản”, hoạ sĩ Lương Minh Hoà chia sẻ.</p>
        <p>Để phục vụ cho các hoạt động trải nghiệm làm sơn mài, họa sĩ Hòa còn mang theo nhiều vật dụng đặc trưng liên
            quan như
            con dấu với các hình ảnh dân gian dùng để “triện” lên tranh, trâm cài đầu sơn mài…</p>
        <p>Sau 20 phút làm tranh sơn mài khắc dưới sự hướng dẫn của họa sĩ, chị Kaori Puret Nakajima – một người dân
            Nhật, tỏ ra
            rất thích thú. Sử dụng những chất liệu và dụng cụ chuyên dụng, chị hiểu được quy trình làm nên một bức tranh
            trên chất
            liệu gỗ truyền thống của Việt Nam.</p>
        <b>…Đến thưởng thức trà Việt tại xứ sở “trà đạo”</b>
        <p>Bên cạnh sơn mài khắc, “Ngày Việt Nam tại Nhật Bản 2023” cũng giới thiệu nhiều nét đẹp văn hóa khác như trà
            Việt, cổ
            phục, tò he, tranh Đông Hồ, phở Thìn (Hà Nội), …</p>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3" src="/images/1-4-nhung-chiec-to-he-mang-ve-dep-dan-gian-truyen-thong-cua-viet-nam-hut-du-khach-copy.jpg" alt="">
            <div class="italic mx-auto text-sm text-center">
            Những chiếc tò he mang vẻ đẹp dân gian truyền thống của Việt Nam thu hút du khách.
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3" src="/images/1-5-pho-thin-bo-ho-mon-ngon-gia-truyen-noi-tieng-cua-viet-nam-cung-duoc-gioi-thieu-toi-cong-chung-nhat-ban-copy.jpg" alt="">
            <div class="italic mx-auto text-sm text-center">
                Phở Thìn bờ Hồ - món ngon gia truyền nổi tiếng của Việt Nam cũng được giới thiệu tới công chúng Nhật Bản.
            </div>
        </div>
        <p>Trong đó, hoạt động trình diễn trà Việt mang đến trải nghiệm mới mẻ,thu hút sự quan tâm của công chúng Nhật
            Bản. Tại
            đây, khách tham dự được thưởng thức trà Shan tuyết cổ thụ hàng trăm năm tuổi, vốn được mệnh danh là “Tứ Đại
            Danh Trà”
            trên đỉnh núi Suối Giàng (Yên Bái) – một trong những vùng đất thủy tổ của Trà trên thế giới.</p>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3" src="/images/1-6-tra-shan-tuyet-duoc-thu-hoach-tren-nhung-cay-co-thu-hang-tram-nam-tuoi-nen-rat-quy-copy.jpg" alt="">
            <div class="italic mx-auto text-sm text-center">
                Trà Shan tuyết được thu hoạch trên những cây cổ thụ hàng trăm năm tuổi nên rất quý.
            </div>
        </div>
        <p>Đưa chén trà có màu vàng xanh tươi mát cùng hương trà toả ngát cho khách nếm thử, nghệ nhân Đào Đức
            Hiếu tự hào
            bày tỏ: “Nhật Bản có trà đạo với các quy chuẩn, nguyên tắc chính xác và tỉ mỉ đến từng chi tiết, thì Việt
            Nam cũng tự
            hào với nghi lễ và văn hóa uống trà độc đáo. Chúng tôi quan niệm trà là hơi thở, là nếp nhà, là sức sống, là
            giá trị
            truyền thống và bản sắc của người Việt”.</p>
        <p>“Khi đến Nhật Bản, chúng tôi tự tin giới thiệu trà shan tuyết cổ thụ quý hiếm bởi không phải đất nước nào
            trên thế giới
            cũng có những cây trà cổ thụ hàng trăm năm tuổi như vậy. Người Nhật luôn ngưỡng mộ và trân trọng trước mỗi
            cây Trà mà
            Việt Nam đang có. Việc đưa trà shan tuyết cổ thụ Suối Giàng đến với Nhật Bản ngoài ý nghĩa giao lưu văn hóa,
            còn là sự
            tri ân khi người Nhật đã từng hỗ trợ cho vùng đất Suối Giàng để bảo tồn những cây chè quý hiếm” – nghệ nhân
            Trà – Đào
            Đức Hiếu nhấn mạnh.</p>
        <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
            <img class="mt-3" src="/images/1-7-nghe-nhan-tra-dao-duc-hieu-dang-gioi-thieu-toi-nguoi-dan-nhat-ban-loai-tra-shan-tuyet-co-thu-suoi-giang-quy-hiem-1.jpg" alt="">
            <div class="italic mx-auto text-sm text-center">
                Nghệ nhân trà Đào Đức Hiếu đang giới thiệu tới người dân Nhật Bản loại trà shan tuyết cổ thụ Suối Giàng
                quý hiếm. (Ảnh:
                Bộ Ngoại giao Việt Nam)
            </div>
        </div>
        <p>Với nhiều hoạt động trải nghiệm văn hóa Việt, “Ngày Việt Nam tại Nhật Bản 2023” không chỉ là cơ hội để những
            giá trị
            nghệ thuật truyền thống Việt Nam lan tỏa tại Nhật Bản mà còn là bước đi đầy sáng tạo để kết nối, giao lưu
            văn hóa giữa
            hai quốc gia. Từ việc giới thiệu Phở Thìn – món ngon ẩm thực Việt cho tới việc mang tới cho công chúng những
            trải nghiệm
            tuyệt vời như triển lãm ảnh, nặn tò he, vẽ tranh Đông Hồ, làm sơn mài khắc, “Ngày Việt Nam tại Nhật Bản
            2023” đã đưa
            công chúng vào một hành trình đẹp và thú vị qua văn hóa và nghệ thuật Việt Nam.</p>
    </div>
</body>

</html>