<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Họp báo chính thức khởi động "Ngày Việt Nam tại Ả - rập Xê - út 2024"
    </title>
</head>

<body>
    <div id="template-details-news" class="flex flex-col gap-4">
        <p>Ngày 11/12, tại thủ đô Riyadh, Đại sứ quán Việt Nam tại Ả - rập Xê - út đã phối hợp với Bộ Ngoại giao Việt Nam tổ chức
        họp báo giới thiệu chương trình "Ngày Việt Nam tại Ả - rập Xê - út 2024" với đại diện các cơ quan thông tấn báo chí địa
        phương và quốc tế.</p>
        <p>- Phát biểu tại buổi họp báo, Đại sứ Việt Nam tại Ả - rập Xê - út Đặng Xuân Dũng đã điểm lại những thành tựu hợp tác
        giữa 2 nước và nhấn mạnh mối quan hệ hữu nghị hợp tác song phương bền chặt giữa Việt Nam và Ả - rập Xê - út...</p>
        <p>Ông Hoàng Hữu Anh, Phó Vụ trưởng phụ trách Vụ Ngoại giao Văn hóa và UNESCO, Bộ Ngoại giao đã giới thiệu những nét đặc
        sắc của Ngày Việt Nam tại Ả - rập Xê - út 2024...</p>
        <p>Tại sự kiện, công chúng và bạn bè quốc tế sẽ có cơ hội thưởng lãm triển lãm ảnh 25 năm thiết lập quan hệ ngoại giao Việt
        Nam - Ả - rập Xê – út, triển lãm ảnh “Tinh hoa văn hoá Việt Nam”, triển lãm tranh sơn mài "Lan tỏa Sắc màu Việt Nam" và
        các di sản thế giới tại Việt Nam được UNESCO ghi danh.</p>
        <p>Bên cạnh đó, khách thăm quan cũng sẽ được tìm hiểu nét đẹp văn hóa Việt Nam qua các hoạt động trải nghiệm hấp dẫn như
        nặn tò he, vẽ tranh Đông Hồ, làm quà handmade từ sơn mài... Đặc biệt, công chúng Ả - rập Xê – út sẽ được thưởng thức
        những món ăn tinh tế chuẩn tiêu chuẩn Hala và đón xem phần trình diễn của bốn nữ nhạc công tái hiện bức tranh Đông Hồ
        “Tố nữ” nổi tiếng.</p>
        <p>- Ngày Việt Nam tại Ả - rập Xê - út 2024 là hoạt động trọng tâm kỷ niệm 25 năm quan hệ ngoại giao giữa hai nước nhằm
        quảng bá và tôn vinh những nét đẹp, giá trị văn hoá truyền thống đặc sắc của Việt Nam đến với bạn bè quốc tế.</p>
        <p>📍 Địa điểm: Mở cửa tự do tại Tầng 1, Cultural Palace, Diplomatic Quarter - thủ đô Riyadh</p>
        <p>📍 Thời gian: Ngày 13 - 15/12/2024.</p>
    </div>
</body>

</html>