<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>“Ngày Việt Nam ở nước ngoài 2024”: Văn hóa Việt chạm đến trái tim công chúng Trung Đông
  </title>
</head>

<body>
  <div id="template-details-news" class="flex flex-col gap-4">
    <b>Chương trình “Ngày Việt Nam tại Ả-rập Xê-út 2024” đã trở thành một hành trình đầy cảm xúc, nơi văn hóa Việt Nam
      được
      truyền tải đầy tinh tế và chạm đến trái tim của đông đảo bạn bè quốc tế. Từng không gian, từng trải nghiệm tại sự
      kiện
      đều để lại ấn tượng sâu sắc, giúp khách thăm quan hiểu hơn, yêu hơn Việt Nam với những góc nhìn mới, đa chiều về
      các di
      sản văn hóa ngàn năm của dân tộc Việt.
    </b>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.1.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Với chủ đề “Hội tụ tinh hoa ngàn năm văn hóa - Vươn mình trong kỷ
      nguyên giàu mạnh, thịnh vượng”, “Ngày Việt Nam tại
      Ả-rập Xê-út 2024” không chỉ khẳng định bản sắc văn hóa riêng biệt mà còn thể hiện khát vọng hội nhập, phát triển
      của
      Việt Nam trong bối cảnh toàn cầu hóa.</p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.2.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Tại triển lãm ảnh kỷ niệm 25 năm thiết lập quan hệ ngoại giao Việt Nam - Ả-rập Xê-út, mỗi bức ảnh như một câu
      chuyện đầy
      tự hào về hành trình xây dựng và củng cố tình hữu nghị giữa 2 nước. Khách tham quan có dịp nhìn lại những cột mốc
      quan
      trọng, đồng thời, cảm nhận những nỗ lực bền bỉ để gắn kết hai quốc gia.
    </p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.3.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Bên cạnh đó, triển lãm ảnh giới thiệu các di sản của Việt Nam được Tổ chức UNESCO vinh danh đã đưa người xem đến
      với một
      Việt Nam đầy chất thơ, nơi thiên nhiên kỳ vĩ và những giá trị văn hóa phi vật thể được tái hiện qua lăng kính nghệ
      thuật. Say mê nhìn bức tranh rực rỡ sắc màu, chị Layla, một người dân Ả-rập Xê-út chia sẻ: "Các bạn biết đấy,
      chúng tôi
      là xứ sở của sa mạc. Tôi thực sự mong đến một ngày được hòa mình vào non nước Hạ Long, không gian cổ kính, trầm
      mặc của
      cố đô Huế và cả phố cổ Hội An…”.
    </p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.4.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Không gian trưng bày sơn mài thu hút sự chú ý với nét tinh tế trong từng lớp sơn phủ và chi tiết chạm khắc. Họa
      sĩ Trần
      Anh Tuấn, giảng viên sơn mài, tận tình hướng dẫn khách cách dát vàng, gắn trứng và vẽ các lớp màu đặc trưng. Họa
      sĩ còn
      mang theo những sản phẩm ứng dụng như hộp, khay, lọ, bát để giới thiệu tính thực tiễn của nghệ thuật sơn mài Việt
      Nam.
    </p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.5.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Được tự tay sáng tạo một bức tranh nhỏ hay làm vòng cổ, móc khóa, Aaliyah, một vị khách nữ Trung Đông không giấu
      được sự
      thích thú: “Lần đầu tiên, tôi được trải nghiệm những kỹ thuật đặc biệt như dát bạc, gắn trứng và tạo hình các biểu
      tượng
      Việt Nam như tre, sen, áo dài. Mang sản phẩm về làm quà tặng cho người thân thật tuyệt vời!”
    </p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.6.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Gian hàng tranh Đông Hồ và nghệ thuật nặn Tò he đã trở thành nơi giao lưu văn hóa đầy cảm xúc. Từng nét cọ của
      các bức
      tranh dân gian như "Đám cưới chuột" hay "Gà trống" làm sống lại những câu chuyện truyền thống.
    </p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.7.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Những chiếc tò he nhỏ xinh đã làm “sứ giả” kết nối tình cảm gắn bó giữa hai nền văn hóa. Các em bé người Ả-rập
      Xê-út tỏ
      ra rất thích thú với những con giống tò he xinh xắn, nhất là khi nghệ nhân Đặng Đình Thường tỉ mỉ nặn chú lạc đà
      đặc
      trưng của sa mạc Trung Đông. Không dừng lại ở một hoạt động nghệ thuật, đây còn là biểu tượng của sự sáng tạo và
      giao
      thoa văn hóa đặc sắc.
    </p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.8.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Không gian ẩm thực Việt Nam đã trở thành điểm nhấn đặc biệt, để lại ấn tượng sâu sắc trong lòng khách tham dự.
      Các món
      ăn như phở, nem rán, bánh cuốn hay chè ba màu vừa thỏa mãn vị giác vừa mang đến sự gần gũi và ấm áp.</p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.9.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Sebastian Kawka, 23 tuổi, người Phần Lan, hiện là luật sư tại Riyadh, Ả-rập Xê-út chia sẻ: "Ẩm thực của các bạn
      rất
      tuyệt vời, món phở và nem cuốn đều rất ngon, tôi rất thích. Hương vị tinh tế, hòa quyện của từng món ăn giúp tôi
      cảm
      nhận rõ nét sự hiếu khách và chân thành của người Việt". Còn anh Nguyễn Tùng Lâm, một kỹ sư ô tô đang làm việc tại
      đây
      cho biết: "Món nem rán khiến tôi thấy tự hào về hương vị quê hương hơn bao giờ hết!”.
    </p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.10.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Ngoài thu hút sự quan tâm của người dân Ả-rập Xê-út và cộng đồng người Việt tại đây, sự kiện “Ngày Việt Nam tại Ả
      Rập Xê
      Út 2024” còn chào đón đông đảo bạn bè quốc tế. Đáng chú ý, Anne Sophie Hoffman – ca sĩ người Canada đang sinh sống
      tại
      Riyadh, từng có nhiều năm gắn bó với Việt Nam – đã tham gia và tình nguyện trình diễn ca khúc yêu thích “Hello
      Vietnam”.
      Đặc biệt, phần trình diễn “Bésame Mucho” cùng dàn nhạc dân tộc Việt Nam đã mang đến một sắc thái giao thoa văn hóa
      độc
      đáo, làm bừng sáng thủ đô Riyadh.
    </p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.11.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Đông đảo đại sứ, cán bộ các đoàn ngoại giao tại Riyadh cũng đã rất nhiệt tình tham dự và trải nghiệm văn hóa Việt
      Nam
      (Ảnh: Đại sứ Việt Nam và phu nhân cùng Đại sứ Trung Quốc và phu nhân chụp ảnh lưu niệm với nghệ sĩ nhạc dân tộc).
    </p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.12.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Sau khi trải nghiệm các hoạt động văn hóa – nghệ thuật độc đáo của Việt Nam, Muhammad Ali, một doanh nhân Ả-rập
      Xê-út
      chia sẻ: "Tôi cảm nhận được một Việt Nam rất hiện đại nhưng vẫn gìn giữ trọn vẹn những giá trị truyền thống. Đây
      thực sự
      là một hành trình mà tôi muốn khám phá thêm trong tương lai".</p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.13.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>“Ngày Việt Nam tại Ả-rập Xê-út” vừa là cầu nối giữa hai quốc gia, đồng thời là dịp để văn hóa Việt Nam vươn xa ra
      thế
      giới, mang thế giới tới Việt Nam. Hình ảnh Việt Nam tươi đẹp, đầy bản sắc và khát vọng vươn lên trong kỷ nguyên
      mới được
      lan tỏa rộng rãi, khẳng định vị thế trên trường quốc tế và mở ra cơ hội mới cho quan hệ song phương.</p>
    <div class="flex flex-col gap-2 justify-center items-center w-full  mx-auto" style="max-width: 680px;">
      <img class="mt-3" src="/images/1612.14.png" alt="">
      <div class="italic mx-auto text-sm text-center">
      </div>
    </div>
    <p>Sự kiện khép lại bằng những dấu ấn đẹp đẽ và mở ra một kỷ nguyên mới, nơi văn hóa Việt Nam tiếp tục tỏa sáng trên
      toàn
      cầu.</p>
  </div>
</body>

</html>